body {
    background-color: #F1F1F1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/* ------ Dark Mode ------ */
body.dark-mode {
    background-color: black;
    color: white;
}
body.dark-mode .header-nav {
    background-color: #222;
}
body.dark-mode .header-nav .logo {
    color: gray;
}
body.dark-mode .header-nav .logo:hover {
    color: #fefefe;
    transition: .1s ease-in-out;
}
body.dark-mode .header-nav .links a {
    color: gray;
}
body.dark-mode .header-nav .links a:hover {
    color: #fefefe;
    transition: .1s ease-in-out;
}
body.dark-mode .opinion-cards div {
    background-color: #222;
    color: white;
}
body.dark-mode .opinion-cards div img {
    outline: 1px solid white;
}
/* ------ White Mode ------ */
.header-nav {
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #FEFEFE;
    box-shadow: 0px 10px 20px #ababab29;
}
.header-nav .logo {
    cursor: pointer;
    padding: 17px 54px 17px 12px;
    font-size: larger;
    font-weight: bold;
    width: 20%;
    margin-right: 1rem;
    margin-left: 4rem;
}
.header-nav .logo:hover {
    color: #7d7d7d;
    transition: .1s ease-in-out;
}
.header-nav .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 4rem;
}
.header-nav .navbar .links {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 4rem;
}
.header-nav .navbar .links a {
    color: #222;
    text-decoration: none;
    font-weight: bolder;
}
.header-nav .navbar .links a:hover {
    color: #7d7d7d;
    transition: .1s ease-in-out;
}
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin-left: 4rem;
}
   /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
   /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    width: 3.5rem;
    height: 1.55rem;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: .4s;
    border-radius: 30px;
    outline: 2px solid gray;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1.3em;
    border-radius: 20px;
    top: 0.18em;
    left: 0.3em;
    background-color: black;
    box-shadow: inset 8px -3px 2px 0px white;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(166, 213, 255);
}
input:checked + .slider:before {
    transform: translateX(1.3em);
    background-color: #ffef00;
    box-shadow: none;
}
.opinion {
    margin-top: 5rem;
    text-align: center;
}
.opinion .header {
    font-size: 2.8rem;
}
.opinion-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    justify-items: center;
}
.opinion-cards div {
    background-color: #FEFEFE;
    max-width: 26rem;
    border-radius: 3%;
    box-shadow: 10px 10px 20px #ababab29;
}
.opinion-cards div img {
    max-width: 30%;
    border-radius: 50%;
    margin: 3%;
}
.opinion-cards div h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 0;
}
.opinion-cards div p {
    font-size: 1rem;
    padding: .7rem;
    margin: 0;
}